---
layout: default
header: Git
title: Git Cheatsheet
description: Git sheet with common tasks, commands and information to help manage version control with git.
---

<div class="cheatsheet">
    <h2 style="margin-bottom: 20px">{{page.title}}</h2>
    <div class="row">
        {% for cheat in site.data.cheatsheets.git %}
        <div class="col-md-6">
            <div class="card bg-secondary mb-4">
                <h4 class="card-header">{{cheat.title}}</h4>
                <div class="card-body">
                    {% for snippet in cheat.snippets %}
                    {% if snippet.text %}
                    <p class="card-text">{{snippet.text}}</p>
                    {% endif %}
                    {% if snippet.code %}
                    {% if snippet.class %}
                    <pre><code class="{{snippet.class}}">{{snippet.code}}</code></pre>
                    {% else %}
                    <pre><code>{{snippet.code}}</code></pre>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>