<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary app-navbar">

    <button
            class="navbar-toggler navbar-toggler-right d-md-none"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/cheatsheets/">Cheatsheets</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/documents/">Documents</a>
            </li>
            <li class="nav-item active d-md-none">
                <a class="nav-link" href="/profile.html">Profile</a>
            </li>
        </ul>

        <ul class="nav navbar-nav float-right mr-0 d-none d-md-flex">
            <li class="nav-item ml-2">
                <a href="/profile.html">
                    <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
                            <img class="rounded-circle" src="/assets/img/haddock_white.png">
                    </button>
                </a>
            </li>
        </ul>

    </div>
</nav>
