<!DOCTYPE html>
<html lang="en">
<head>
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>leohuber.github.io</title>

    <!-- Include the CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/toolkit.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/highlight-default.css?v=' | append: site.github.build_revision | relative_url }}">

</head>
<body class="with-top-navbar">

{% include navbar.html %}

{{ content }}

<!-- Include JS -->
<script src="/assets/javascript/jquery.min.js"></script>
<script src="/assets/javascript/popper.min.js"></script>
<script src="/assets/javascript/chart.js"></script>
<script src="/assets/javascript/toolkit.js"></script>
<script src="/assets/javascript/application.js"></script>
<script src="/assets/javascript/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>


